# Python
__pycache__/
*.pyc
.venv/

# Env
.env*
!.env*.example

# pgAdmin (fichiers auto-générés avec credentials)
infra/servers.json
infra/pgpass

# Node / Angular
frontend/wakstuff-frontend/node_modules/
frontend/wakstuff-frontend/dist/

# Docker
db_data/

# Sandbox
sandbox/

# Temp files
temp-session/