FLASK_APP=wsgi:app
FLASK_ENV=development

# URL de connexion Postgres, nom du service = db (docker-compose)
DATABASE_URL=postgresql+psycopg2://wakstuff:wakstuff@db:5432/wakstuff

# URL de base pour les icônes d'items Wakfu
ICON_BASE_URL=https://static.ankama.com/wakfu/portal/game/item/115
